# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: "Build Flutter Packages"

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: "Build & Release"
    runs-on: ubuntu-latest
    steps:
      # check out the code
      - name: "Checkout codes"
        uses: actions/checkout@v3

      # setup java
      - name: "Setup java"
        uses: actions/setup-java@v3.1.1
        with:
          java-version: "11"
          distribution: "temurin"

      # setup flutter
      - name: "Setup flutter"
        uses: subosito/flutter-action@v2.3.0

      # setup all dependencies
      - name: "Install dependencies"
        run: flutter pub get

      # begin to build
      - name: "Begin to build release APK "
        env:
          PWD: ${{ secrets.BUILD_SIGN_PASSWORD }}
          ALIAS: ${{ secrets.BUILD_SIGN_ALIAS_NAME }}
          SIGN_FILE_NAME: ${{ secrets.BUILD_SIGN_FILE_NAME }}
          ENCODED_SIGN_FILE: ${{ secrets.BUILD_SIGN_BASE64_SIGN_FILE }}
        run: android/build_release.sh

      # push to release
      - name: "Push to Releases"
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/app/outputs/apk/release/*"
          tag: v${{ github.run_number }}
          token: ${{ secrets.BUILD_TOKEN }}
